<h2>Movies</h2>

<p>
<strong>Find</strong>
&nbsp;&nbsp;&nbsp;&nbsp;

Title: <input ng-model="query.title" placeholder="Title..."/>
Director: <input ng-model="query.director" placeholder="Director..."/>
</p>
<p>
<strong>Order by</strong>
	<select ng-model="orderField">
 		<option value="title">Title</option>
        <option value="director">Director</option>
    </select>
    <select ng-model="orderReverse">
 		<option value="false">upward</option>
        <option value="true">downward</option>
    </select>

&nbsp;&nbsp;&nbsp;&nbsp;
  
</p>
 
<ul>
    <li ng-repeat="obj in movies | filter:query | orderBy:orderField:orderReverse">
    	<div ng-include src=" 'views/_movieDetail.html' "></div>
    </li>
</ul>